#send-new {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    background-color: var(--background-color);
    padding: 1vh 1vw;
}

#send-new:hover {
    color: var(--accent-color);
    background-color: var(--accent-color-rgba);
}
